---
layout: layouts/page.njk
title: People
---

{% set people = collections.people | sort(attribute='data.group', reverse=true) %}
{% set currentGroup = '' %}

  {% for person in people %}
    {% if person.data.group != currentGroup %}
      {% set currentGroup = person.data.group %}
      </section>
      <section class="grid">
      <h2>{{ currentGroup }}</h2>
    {% endif %}

    <article>
      {% if person.data.image %}
        <img src="{{ person.data.image }}" alt="{{ person.data.name }}" class="profile-thumbnail" />
      {% else %}
        <img src="/assets/favicon-512x512.png" alt="{{ person.data.name }}" class="profile-thumbnail" />
      {% endif %}
      <h3><a href="{{ person.url }}">{{ person.data.name }}</a></h3>
      <p>{{ person.data.content | truncate(150, true, '...') }}</p>
    </article>
  {% endfor %}
</section>
