/* Lab color palette from the logo */
:root {
  --theme-primary: #233e7a; /* Dark Blue */
  --theme-light: #009ddc;  /* Light Blue */
  --theme-accent: #f76902; /* RIT Orange */ 
  --theme-white: #f7f7f7; /* White */
  --theme-black: #202020; /* Black */
}

/* Overriding Pico defaults following their docs/examples */
[data-theme=light],
:root:not([data-theme=dark]),
:host:not([data-theme=dark]) {
  /*--pico-text-selection-color: var(--theme-accent);*/
  --pico-primary: var(--theme-black);
  --pico-primary-background: var(--theme-white);
  --pico-primary-underline: var(--theme-black);
  --pico-primary-hover: var(--theme-accent);
  --pico-primary-hover-background: var(--theme-white);
  --pico-primary-focus: var(--theme-accent);
  --pico-primary-inverse: var(--theme-white);
}


html, body {
  height: 100%;
}

body {
  background-color: var(--theme-white);
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

header, footer: {
  flex-shrink: 0;
}

nav img {
  max-height: 5rem;
  height: auto;
  width: auto;
  vertical-align: middle;
}

.banner-logo {
  max-height: 10rem;
  height: auto;
  width: auto;
  vertical-align: middle;
}

.profile-thumbnail {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  max-height: 150px;
}

.profile-pic {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  max-height: 300px;
  float:right;
}