/* ================================
   Lab Theme Tokens (single source of truth)
   Update these, and all Pico mappings inherit.
   =========================================== */
:root {
  --theme-dark: #233e7a; /* Dark Blue */
  --theme-mid: #237a7a; /* darkish greenish */
  --theme-light: #009ddc;  /* Light Blue */
  --theme-accent: #f76902; /* RIT Orange */ 
  --theme-white: #f7f7f7; /* White */
  --theme-black: #202020; /* Black */
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
  --pico-background-color: var(--theme-white);
  --pico-color: var(--theme-black);
  --pico-text-selection-color: var(--theme-light);
  
  --pico-primary: var(--theme-dark);
  --pico-primary-underline: var(--pico-primary);
  --pico-primary-hover-underline: var(--pico-primary-hover);
  --pico-primary-focus: var(--pico-primary);
  --pico-primary-background: var(--theme-dark);
  --pico-primary-hover-background: var(--theme-accent);

  --pico-secondary: var(--theme-mid);
  --pico-secondary-underline: var(--pico-secondary);
  --pico-secondary-hover-underline: var(--pico-secondary-hover);
  --pico-secondary-focus: var(--pico-secondary);
  --pico-secondary-background: var(--theme-dark);
  --pico-secondary-hover-background: var(--theme-accent);

  --pico-contrast: var(--theme-light);
  --pico-contrast-underline: var(--pico-contrast);
  --pico-contrast-hover-underline: var(--pico-contrast-hover);
  --pico-contrast-focus: var(--pico-contrast);
}


html, body {
  height: 100%;
  background-color: var(--pico-background-color);
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

header, footer: {
  flex-shrink: 0;
}

nav img {
  max-height: 5rem;
  height: auto;
  width: auto;
  vertical-align: middle;
}

.banner-logo {
  max-height: 10rem;
  height: auto;
  width: auto;
  vertical-align: middle;
}

.profile-thumbnail {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  max-height: 150px;
}

.profile-pic {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  max-height: 300px;
  float:right;
}

/* Base floatable figure — shared rules */
figure.alignfloat {
  display: block;
  width: clamp(140px, 50%, 400px);
  max-width: 400px;
  line-height: 1;
  text-align: center;
  margin: 3rem;
}

/* float left variant */
figure.alignleft {
  float: left;
}

/* float right variant */
figure.alignright {
  float: right;
}

/* figure aligned center */
figure.aligncenter{
  float: center;
}

/* common image handling */
figure.alignfloat img {
  display: block;
  width: 100%;
  height: auto;
}

.preview{
    margin-bottom: 5px;
    padding-bottom: 5px;
    max-height:100px;
    overflow:hidden;
    text-overflow: ellipsis;
    content: "";
    position:relative;
}
.preview:before {
    content:'';
    width:100%;
    height:100%;    
    position:absolute;
    left:0;
    top:0;
    background:linear-gradient(transparent 0, var(--pico-card-background-color));
}