---
layout: layouts/page.njk
---

<article>
<h1>{{ title }}</h1>
<p>By {{ author }} ca. {{ date | date("LLLL yyyy") }}</p>
{% if "archival" in tags %}
<p><b>Archival note: this is a post recovered from Richard's old grad-school blog "Box and Arrow Brain." References to 'recent' things are relative to 2019, and references to 'the lab' mean the Haefner Lab at UR</b></p>
{% endif %}
{{ content | safe }}
</article>