<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="color-scheme" content="light">
<title>The BONSAI Lab{% if title %} :: {{title}} {% endif %}</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
<link rel="stylesheet" href="/assets/css/custom.css" />
</head>
<body>
<header>
<nav class="container">
<ul>
<li><a href="/"><img src="/assets/logo.png"/></a></li>
</ul>
<ul>
<li><a href="/people/" {% if page.url.startsWith("/people/") %}aria-current="page"{% endif %}>People</a></li>
<li><a href="/research/" {% if page.url.startsWith("/research/") %}aria-current="page"{% endif %}>Research</a></li>
<li><a href="/teaching/" {% if page.url.startsWith("/teaching/") %}aria-current="page"{% endif %}>Teaching</a></li>
<li><a href="/resources/" {% if page.url.startsWith("/resources/") %}aria-current="page"{% endif %}>Resources</a></li>
<li><a href="/blog/" {% if page.url.startsWith("/blog/") %}aria-current="page"{% endif %}>Blog</a></li>
</ul>
</nav>
</header>

<main class="container">
{% if article %}
<article>
{{ content | safe }}
</article>
{% else %}
{{ content | safe }}
{% endif %}
</main>

<footer class="container">
<hr />
<p><small>&copy; 2026 The BONSAI Lab. All rights reserved.</small></p>
</footer>
</body>
</html>
